@import url(../fields/index.css);

/*formulario*/
form {
  margin-top: 3rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 1.5rem;
}

legend {
  font: 600 1rem/1.25 var(--font-family);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.title {
  font: 600 1rem/1.25 var(--font-family);
  padding-top: 3rem;
}

fieldset + fieldset {
  padding-top: 2rem;
}
